<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div class="container-fluid">
    <h1>E</h1>
    <div class="row">
        <label id="control-extrude" class="btn btn-default" style="width: 100%">Extrude
        </label>
    </div>
    <div class="row">
        <div class="input-group">
          <input type="number" min="0" id="control-mm" class="form-control" value="5" placeholder="5" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">mm</span>
        </div>
    </div>
    <div class="row">
        <label id="control-retract" class="btn btn-default" style="width: 100%">Retract
        </label>
    </div>
</div>

