<!-- TODO: Seperate these out -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div class="btn-group" (click)="valueChange($event)">
  <label class="btn btn-default" [(ng-model)]="radioModel" btn-radio="0.1">
      0.1
  </label>
  <label class="btn btn-default" [(ng-model)]="radioModel" btn-radio="1">
        1
  </label>
  <label class="btn btn-default" [(ng-model)]="radioModel" btn-radio="10">
        10
  </label>
  <label class="btn btn-default" [(ng-model)]="radioModel" btn-radio="100">
        100
  </label>
</div>
