<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div class="container-fluid" style="display: inline-block">
    <h1>X/Y</h1>
    <div class="row">
        <div class="col-xs-4 nopadding"></div>
        <div class="col-xs-4 nopadding">
            <label id="control-up" class="btn btn-default">
                <i class="fa fa-arrow-up"></i>
            </label>
        </div>
        <div class="col-xs-4 nopadding"></div>
    </div>
    <div class="row">
       <div class="col-xs-4 nopadding">
            <label id="control-left" class="btn btn-default">
                <i class="fa fa-arrow-left"></i>
            </label>
        </div>
        <div class="col-xs-4 nopadding">
            <label id="control-home-xy" class="btn btn-default">
                <i class="fa fa-home"></i>
            </label>
        </div>
        <div class="col-xs-4 nopadding">
            <label id="control-right" class="btn btn-default">
                <i class="fa fa-arrow-right"></i>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 nopadding"></div>
        <div class="col-xs-4 nopadding">
            <label id="control-down" class="btn btn-default">
                <i class="fa fa-arrow-down"></i>
            </label>
        </div>
        <div class="col-xs-4 nopadding"></div>
    </div>
</div>
