<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div class="container-fluid">
    <h1>Z</h1>
    <div class="row">
        <label id="control-up-z" class="btn btn-default">
            <i class="fa fa-arrow-up"></i>
        </label>
    </div>
    <div class="row">
        <label id="control-home-z" class="btn btn-default">
            <i class="fa fa-home"></i>
        </label>
    </div>
    <div class="row">
        <label id="control-down-z" class="btn btn-default">
            <i class="fa fa-arrow-down"></i>
        </label>
    </div>
</div>
