<div (click)="isCollapsed = !isCollapsed">
    <!-- TODO: Default to just a button -->
    <ng-content select="[button]"></ng-content>
</div>
<div [collapse]="isCollapsed" class="card card-block card-header">
    <div class="well well-lg">
        <ng-content></ng-content>
    </div>
</div>
