<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<tabset>
<tab *ng-for="#tabz of tabs"
     [heading]="tabz.title"
     [active]="tabz.active"
     (select)="tabz.active = true"
     (deselect)="tabz.active = false"
     [disabled]="tabz.disabled">
<span bind-inner-html="tabz.content"></span>
<!--{{tabz.content}}-->
</tab>
</tabset>
